<footer class="footer">
  <small>
    <strong><a href="http://www.hazardbrewing.com">Hazard Brewing</a></strong>
    by <em><a href="http:/JayInJersey.com">JayInJersey</a></em></p>
    <p>&copy; BioPhoenix Brewing Company 2017</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
    </ul>
  </nav>
</footer>